{% extends 'base.html' %}
{% block title %}Chat{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('chat_screen_bp.static', filename ='css/chat_screen.css') }}">
{% endblock %}
{% block content %}
    <section class="grey-bg" id="chatScreenParentContainer">
        <div class="container-fluid py-3">
            <div class="d-flex justify-content-between mb-3">
                <div>
                    <h5 class="ms-2 primaryTextColor">Welcome {{ current_user.first_name|safe }} {{ current_user.last_name|safe }}</h5>
                </div>
                <div>
                    <button class="btn btn-outline-primary btn-sm border-none" id="startAudioCall">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                    </button>
                    <button class="btn btn-outline-success btn-sm ms-4 me-3" id="startVideoCall">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <input type="hidden" value="{{ current_user.email }}" id="currentUserEmail" />
            <div class="row">
                <div class="col-4 mb-4">
                    <div class="card" id="sideNavCard">
                        <!-- Div for creating new chat -->
                        <div class="p-2 rounded bg-primary" id="newChatDiv">
                            <a class="d-flex text-white text-decoration-none justify-content-between" id="newChatModalBtn" data-bs-toggle="modal" data-bs-target="#newChatModal">
                                <div class="d-flex flex-row">
                                    <div class="pt-1 ps-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-plus-circle mb-1" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                        </svg>
                                        <p class="fw-bold d-inline-block ms-3 mb-0">New Chat</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="card-body" id="chat-list"></div>
                    </div>
                </div>
                <div class="col-8">
                    <input id="activeChatId" hidden />
                    <div class="ps-2 pe-4 py-1 rounded-2" id="chat-messages">
                    </div>
                    <div class="bg-white mb-2">
                        <div class="input-container" id="inputContainer">
                            <textarea class="form-control mt-2" id="message-input" placeholder="Enter your Message..."></textarea>
                            <div class="emoji-picker" id="emojiPicker"><emoji-picker></emoji-picker></div>
                            <div class="emoji-button" id="emojiButton">
                                <span class="emoji">😊</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn text-white btn-info rounded-pill float-end" id="sendMessageBtn">Send Message</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Modals -->

    <!-- Modal for starting new Chat -->
    <div class="modal fade" id="newChatModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header py-0">
                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link active cursor-default" aria-current="page">New Chat</a>
                        </li>
                    </ul>
                    <button type="button" class="btn-close modalClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <a class="btn btn-info mx-auto text-white" data-bs-toggle="modal" data-bs-target="#searchUserModal">Add New Friends</a>
                        </div>
                        <div class="py-4" id="friendListContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Searching Users -->
    <div class="modal fade" id="searchUserModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header py-0">
                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link active cursor-default" aria-current="page">Search User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary cursor-pointer" data-bs-toggle="modal" data-bs-target="#receivedRequestModal">Accept Request</a>
                        </li>
                    </ul>
                    <button type="button" class="btn-close modalClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <form id="searchUserForm">
                                <input class="form-control" autocomplete="off" name="search_user" placeholder="Search by Name or Email">
                                <input type="submit" hidden>
                            </form>
                        </div>
                        <div id="searchResult" class="pt-4 pb-1">
                        </div>
                        <div id="loading-spinner" class="d-none justify-content-center">
                            <div class="spinner-border text-info" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div id="empty_search">
                            Please Enter Name or Email to search for new users.
                        </div>
                        <div id="end-of-results" class="d-none pt-1 text-center">
                            <p>End of Search Results</p>
                        </div>
                        <div id="load-more-search-result" class="d-none text-end">
                            <a class="text-muted text-decoration-none" id="load-more-button">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Accepting Friend Requests -->
    <div class="modal fade" id="receivedRequestModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header py-0">
                    <ul class="nav nav-underline">
                        <li class="nav-item">
                            <a class="nav-link text-secondary cursor-pointer" aria-current="page" data-bs-toggle="modal" data-bs-target="#searchUserModal">Search User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active cursor-default">Accept Request</a>
                        </li>
                    </ul>
                    <button type="button" class="btn-close modalClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        {% if received_requests is defined and received_requests|length > 0 %}
                            {% for requests in received_requests %}
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <h6 class="card-title mb-1">{{ requests.name }}</h6>
                                                    <small class="card-text">{{ requests.email }}</small>
                                                </div>
                                                <div class="col-6 align-self-center">
                                                    <button class="btn btn-sm btn-info mx-1 float-end text-white font12 req_acceptFriendRequest" data-email="{{ requests.email }}">✓ Accept</button>
                                                    <button class="btn btn-sm btn-danger mx-1 float-end text-white font12 req_rejectFriendRequest" data-email="{{ requests.email }}">x Reject</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h6 class="card-title text-center text-muted mb-1">There are no pending Friend Requests</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Outgoing call Modal -->
    <div class="modal fade" id="outgoingCallModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container text-center mt-5">
                        <h3 class="pb-3 text-secondary" id="outCallMsg"></h3>
                        <img src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" alt="User Avatar" class="modal-avatar">
                        <div class="mt-5" id="outCallBtnDiv">
                            <input type="hidden" id="outgoingCallChatId">
                            <button class="btn btn-primary mx-3 p-2 rounded-circle pe-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone-outbound-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5"/>
                                </svg>
                            </button>
                            <button class="btn btn-danger mx-3 p-2 rounded-circle" id="cancelOutgoingCall">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone-fill" style="transform: rotate(135deg);" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Incoming call Modal -->
    <div class="modal fade" id="incomingCallModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container text-center mt-5">
                        <h3 class="pb-3 text-secondary" id="inCallMsg"></h3>
                        <img src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" alt="User Avatar" class="modal-avatar">
                        <div class="mt-5">
                            <input type="hidden" id="incomingCallChatId">
                            <button class="btn btn-success mx-3 p-2 rounded-circle" id="acceptIncomingCallwithVideo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z"/>
                                </svg>
                            </button>
                            <button class="btn btn-primary mx-3 p-2 rounded-circle" id="acceptIncomingCall">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                            </button>
                            <button class="btn btn-danger mx-3 p-2 rounded-circle" id="rejectIncomingCall">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone-fill" style="transform: rotate(135deg);" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active Call Modal -->
    <div class="modal fade" id="activeCallModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog  modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <input type="hidden" id="activeCallChatId">
                    <div id="videos">
                        <!-- Placeholder for remote video -->
                        <div id="remoteVideoPlaceholder" class="video-placeholder mx-auto d-none">
                            <img src="{{ url_for('chat_screen_bp.static', filename='images/profile_pic.png') }}">
                        </div>
                        <div class="d-none text-center" id="callEndedDiv">
                            <p>The call has ended</p>
                        </div>

                        <video id="remoteVideo" class="big_video video-item" autoplay playsinline></video>

                        <!-- Placeholder for local video -->
                        <div id="localVideoPlaceholder" class="video-placeholder mx-auto d-none">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-camera-video-off px-5 py-4" viewBox="0 0 16 16">
                                <path d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58z"/>
                            </svg>
                        </div>
                        <video id="localVideo" class="small_video video-item" autoplay muted playsinline></video>
                    </div>
                    <div id="control-bar-container">
                        <div id="controls-bar" class="d-flex justify-content-around">
                            <button class="btn btn-success rounded-circle my-2 px-2 py-1" id="toggleCamera">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera-video-fill" id="camera_on_svg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera-video-off-fill d-none" id="camera_off_svg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10.961 12.365a1.99 1.99 0 0 0 .522-1.103l3.11 1.382A1 1 0 0 0 16 11.731V4.269a1 1 0 0 0-1.406-.913l-3.111 1.382A2 2 0 0 0 9.5 3H4.272l6.69 9.365zm-10.114-9A2.001 2.001 0 0 0 0 5v6a2 2 0 0 0 2 2h5.728L.847 3.366zm9.746 11.925-10-14 .814-.58 10 14-.814.58"/>
                                </svg>
                            </button>
                            <button class="btn btn-primary rounded-circle my-2 px-2 py-1" id="ToggleMic">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mic-fill" id="mic_on_svg" viewBox="0 0 16 16">
                                    <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0z"/>
                                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-mic-mute-fill d-none" id="mic_off_svg" viewBox="0 0 16 16">
                                    <path d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4.02 4.02 0 0 0 12 8V7a.5.5 0 0 1 1 0zm-5 4c.818 0 1.578-.245 2.212-.667l.718.719a4.973 4.973 0 0 1-2.43.923V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 1 0v1a4 4 0 0 0 4 4m3-9v4.879L5.158 2.037A3.001 3.001 0 0 1 11 3"/>
                                    <path d="M9.486 10.607 5 6.12V8a3 3 0 0 0 4.486 2.607m-7.84-9.253 12 12 .708-.708-12-12-.708.708z"/>
                                </svg>
                            </button>
                            <button class="btn btn-danger rounded-circle my-2 px-2 py-1" id="endActiveCall">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-telephone-fill" style="transform: rotate(135deg);" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Crashed call Modal -->
    <div class="modal fade" id="crashedCallModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container text-center mt-5">
                        <h3 class="pb-1 text-secondary" id="crashedCallMsg"></h3>
                        <h5 class="pb-3 text-secondary">Do you want to call them back?</h5>
                        <img src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png" alt="User Avatar" class="modal-avatar">
                        <div class="mt-5">
                            <input type="hidden" id="crashedCallChatId">
                            <input type="hidden" id="crashedCallOtherUser">
                            <button class="btn btn-success mx-3 p-2 rounded-circle" id="reconnectCrashedCallwithVideo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z"/>
                                </svg>
                            </button>
                            <button class="btn btn-primary mx-3 p-2 rounded-circle" id="reconnectCrashedCall">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone-outbound-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5"/>
                                </svg>
                            </button>
                            <button class="btn btn-danger mx-3 p-2 rounded-circle" id="cancelCrashedCall">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-telephone-fill" style="transform: rotate(135deg);" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <!-- Emoji Picker CDN -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>

    <!-- Twemoji CDN - For Emoji Rendering -->
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>

    <!-- Socket IO CDN -->
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

    <script src="{{ url_for('chat_screen_bp.static', filename='js/chat_screen.js') }}"></script>
    <script src="{{ url_for('chat_screen_bp.static', filename='js/events.js') }}"></script>
    <script src="{{ url_for('chat_screen_bp.static', filename='js/search_user_add_friends.js') }}"></script>
    <script src="{{ url_for('chat_screen_bp.static', filename='js/add_friends.js') }}"></script>
{% endblock %}