{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container FormDiv my-5 mx-auto">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger mx-auto alert-dismissible fade show" role="alert">
                    {% for msg in messages %}
                        <p><small>{{ msg }}</small></p>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}
        <form method="post" class="border border-1" id="formBody">
            <div class="formHeadingDiv text-center">
                <h3>Login</h3>
            </div>
            {{ form.csrf_token }}
            <div class="form-group my-3">
                {{ form.email.label(class_="form-label") }}
                {{ form.email(class_="form-control", autocomplete_="off") }}
                {% if form.email.errors %}
                    <small class="text-danger">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </small>
                {% endif %}
            </div>
            <div class="form-group my-3">
                {{ form.password.label(class_="form-label") }}
                {{ form.password(class_="form-control", autocomplete_="off") }}
                {% if form.password.errors %}
                    <small class="text-danger">
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    </small>
                {% endif %}
            </div>
            <div class="d-grid gap-2 mt-4">
                {{ form.submit(class_="btn btn-primary", autocomplete_="off") }}
            </div>
            <div class="text-center mt-1">
                <a href="{{ url_for('signup_bp.signup') }}" class="text-muted"><small>Sign Up instead?</small></a>
            </div>
        </form>
    </div>
{% endblock %}