{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('signup_bp.static', filename ='css/signup.css') }}">
{% endblock %}
{% block content %}
    <div class="container FormDiv my-5 mx-auto">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger mx-auto alert-dismissible fade show" role="alert">
                    {% for msg in messages %}
                        <p><small>{{ msg }}</small></p>
                    {% endfor %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endwith %}
        <form method="post" class="border border-1 mx-auto" id="login_form">
            <div class="formHeadingDiv text-center">
                <h3>Signup</h3>
            </div>
            {{ form.csrf_token }}
            <div class="form-group my-3">
                {{ form.first_name.label(class_="form-label") }} {{ form.first_name(class_="form-control", autocomplete="off") }}
                {% if form.first_name.errors %}
                    <div class="errors">
                    {% for error in form.first_name.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group my-3">
                {{ form.last_name.label(class_="form-label") }} {{ form.last_name(class_="form-control", autocomplete="off") }}
                {% if form.last_name.errors %}
                    <div class="errors">
                    {% for error in form.last_name.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group my-3">
                {{ form.email.label(class_="form-label") }} {{ form.email(class_="form-control", autocomplete="off") }}
                {% if form.email.errors %}
                    <div class="errors">
                    {% for error in form.email.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group my-3">
                {{ form.password1.label(class_="form-label") }} {{ form.password1(class_="form-control", autocomplete="off") }}
                {% if form.password1.errors %}
                    <div class="errors">
                    {% for error in form.password1.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group my-3">
                {{ form.password2.label(class_="form-label") }} {{ form.password2(class_="form-control", autocomplete="off") }}
                {% if form.password2.errors %}
                    <div class="errors">
                    {% for error in form.password2.errors %}
                        <small class="text-danger">{{ error }}</small>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="d-grid gap-2 mt-4">
                {{ form.submit(class_="btn btn-primary") }}
            </div>
            <div class="text-center mt-1">
                <a href="{{ url_for('login_bp.login') }}" class="text-muted"><small>Already have an account?</small></a>
            </div>
        </form>
    </div>
{% endblock %}